<h3>User Profile</h3>
<p>Welcome Back, <%= @user.name %></p>
<p>Customize Your Profile: </p>

<h4>Your Interests:</h4>
(check all that apply)

<br>
<% unless @user.interests.any? %>
  <%= form_for @user do |f| %>
    <%= f.collection_check_boxes :interest_id, Interest.all, :id, :name %>
    <%= f.submit %>
  <% end %>
<% end %>

<br>
